{$DOMAIN}

# Fetch the request-id or get a new one
request_id x-request-id
header / x-request-id {request_id}

# Make the logs docker friendly and inject the request-id
log / stdout "{request_id} - {common}"
errors stderr

# Configure letsencrypt
tls {$EMAIL}

# Enable CORS for everything for now
header / Access-Control-Allow-Origin *

proxy / http://keycloak:8080 {
  transparent
  header_upstream x-request-id {request_id}
}
